<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="stp.Properties.Settings.SS16_STPConnectionString"
            connectionString="Data Source=goliath.wi.fh-flensburg.de;Initial Catalog=SS16_STP;Persist Security Info=True;User ID=SS16_STP;Password=pKn_1620"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>